In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
data=pd.read_csv('movies.csv')
print(data)

                                                name rating      genre  year  \
0                                        The Shining      R      Drama  1980
1                                    The Blue Lagoon      R  Adventure  1980
2     Star Wars: Episode V - The Empire Strikes Back     PG     Action  1980
3                                          Airplane!     PG     Comedy  1980
4                                         Caddyshack      R     Comedy  1980
...                                              ...    ...        ...   ...
7663                                    More to Life    NaN      Drama  2020
7664                                     Dream Round    NaN     Comedy  2020
7665                                   Saving Mbango    NaN      Drama  2020
7666                                    It's Just Us    NaN      Drama  2020
7667                                       Tee em el    NaN     Horror  2020

                              released  score      votes         director  \
0        June 13, 1980 (United States)    8.4   927000.0  Stanley Kubrick
1         July 2, 1980 (United States)    5.8    65000.0   Randal Kleiser
2        June 20, 1980 (United States)    8.7  1200000.0   Irvin Kershner
3         July 2, 1980 (United States)    7.7   221000.0     Jim Abrahams
4        July 25, 1980 (United States)    7.3   108000.0     Harold Ramis
...                                ...    ...        ...              ...
7663  October 23, 2020 (United States)    3.1       18.0    Joseph Ebanks
7664  February 7, 2020 (United States)    4.7       36.0     Dusty Dukatz
7665         April 27, 2020 (Cameroon)    5.7       29.0     Nkanya Nkwai
7666   October 1, 2020 (United States)    NaN        NaN    James Randall
7667   August 19, 2020 (United States)    5.7        7.0     Pereko Mosia

                       writer              star         country      budget  \
0                Stephen King    Jack Nicholson  United Kingdom  19000000.0
1     Henry De Vere Stacpoole    Brooke Shields   United States   4500000.0
2              Leigh Brackett       Mark Hamill   United States  18000000.0
3                Jim Abrahams       Robert Hays   United States   3500000.0
4          Brian Doyle-Murray       Chevy Chase   United States   6000000.0
...                       ...               ...             ...         ...
7663            Joseph Ebanks      Shannon Bond   United States      7000.0
7664              Lisa Huston  Michael Saquella   United States         NaN
7665             Lynno Lovert      Onyama Laura   United States     58750.0
7666            James Randall     Christina Roz   United States     15000.0
7667             Pereko Mosia  Siyabonga Mabaso    South Africa         NaN

            gross                    company  runtime
0      46998772.0               Warner Bros.    146.0
1      58853106.0          Columbia Pictures    104.0
2     538375067.0                  Lucasfilm    124.0
3      83453539.0         Paramount Pictures     88.0
4      39846344.0             Orion Pictures     98.0
...           ...                        ...      ...
7663          NaN                        NaN     90.0
7664          NaN  Cactus Blue Entertainment     90.0
7665          NaN           Embi Productions      NaN
7666          NaN                        NaN    120.0
7667          NaN                PK 65 Films    102.0

[7668 rows x 15 columns]

### Перевірка на наявність пропусків

In [18]:
message = "Відсутніх значень немає." if not data.isnull().any().any() else "Існують відсутні значення"
print(message)

Існують відсутні значення

In [19]:
missing_data = data.isnull().sum()
print(missing_data[missing_data > 0])

rating        77
released       2
score          3
votes          3
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [21]:
# Заповнення середнім значенням для числових стовпців
data['budget'] = data['budget'].replace(0, data['budget'].mean())
data['runtime'] = data['runtime'].fillna(data['runtime'].mean())
data['score'] = data['score'].fillna(data['score'].mean())
data['votes'] = data['votes'].fillna(data['votes'].mean())

# Заповнення модою або міткою "Unknown" для категоріальних стовпців
fill_values = {
    'company': 'Unknown',
    'country': 'Unknown',
    'director': 'Unknown',
    'star': 'Unknown',
    'writer': 'Unknown'
}
data = data.fillna(value=fill_values)

# Заповнення міткою "Not Rated" для рейтингу
data['rating'] = data['rating'].fillna('Not Rated')

# Перевірка наявності відсутніх значень після обробки
missing_data = data.isnull().sum()
print(missing_data[missing_data > 0])

# Перевірка повідомлення про відсутність пропусків
message = "Відсутніх значень немає." if not data.isnull().any().any() else "Існують відсутні значення"
print(message)

released       2
budget      2171
gross        189
dtype: int64
Існують відсутні значення

In [23]:
# Видалення рядків з відсутніми датами випуску
data = data.dropna(subset=['released'])

# Заповнення середнім значенням для числових стовпців
data['budget'] = data['budget'].replace(0, data['budget'].mean())
data['budget'] = data['budget'].fillna(data['budget'].mean())
data['gross'] = data['gross'].fillna(data['gross'].mean())
data['runtime'] = data['runtime'].fillna(data['runtime'].mean())
data['score'] = data['score'].fillna(data['score'].mean())
data['votes'] = data['votes'].fillna(data['votes'].mean())

# Заповнення модою або міткою "Unknown" для категоріальних стовпців
fill_values = {
    'company': 'Unknown',
    'country': 'Unknown',
    'director': 'Unknown',
    'star': 'Unknown',
    'writer': 'Unknown'
}
data = data.fillna(value=fill_values)

# Заповнення міткою "Not Rated" для рейтингу
data['rating'] = data['rating'].fillna('Not Rated')

# Перевірка наявності відсутніх значень після обробки
missing_data = data.isnull().sum()
print(missing_data[missing_data > 0])

# Перевірка повідомлення про відсутність пропусків
message = "Відсутніх значень немає." if not data.isnull().any().any() else "Існують відсутні значення"
print(message)

Series([], dtype: int64)
Відсутніх значень немає.

In [27]:
print(data.iloc[:,])

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company]
Index: []